main {
    display: flex;
    justify-content: space-evenly;
}

#filter-form {
    display: flex;
    justify-content: center;
}

#content-container {
    color: #111;
    display: flex;
    flex-direction: column;
}

#detail-box {
    display: none;
    background-color: #111;
    width: 800px;
    justify-content: center;
    align-items: center;
}

#detail-buttons {
    display: none;
}

#detail-buttons button {
    font-size: 16px;
	display: flex;
	align-items: center;
	justify-content: center;
	text-align: center;
    background-color: #111;
	font-weight: bold;
    color: #00BFFF;
    border: 1px solid #9932CC;
	width: 100%;
    padding: 3px;
	width: 75px;
	height: 75px;
	text-decoration: none;
	transition: background-color 0.3s, color 0.3s;
}

#detail-buttons button:hover {
	background-color: #00BFFF;
    color: #000;
	font-weight: bold;
}

#detail-buttons .current-button {
	background-color: #00BFFF;
    color: #000;
	font-weight: bold;
}

#char-name-section {
    color: white;
}

#player-table {
    width: 750px;
    color: white;
}

#player-table td {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: nowrap;
}

#char-name-section {
    display: flex;
    justify-content: center;
}

.exp-bar, .elemental-bar {
    background: linear-gradient(to right, #d8d8d8, #c0c0c0, #a8a8a8);
    display: flex;
    height: 16px;
	padding: 2px;
	width: 358px;
    border-radius: 15px;
	margin: auto;
}

.elemental-bar .start, .exp-bar .start {
	border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
}
.elemental-bar .end, .exp-bar .end {
	border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
}

.exp-fill {
    height: 100%;
    background-color: #4285f4;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
}

.exp-empty {
    height: 100%;
    background-color: #111;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
}

.element-segment, .exp-bar {
    position: relative;
}

.element-segment .tooltip {
    display:flex;
	justify-content: center;
    align-items: center;
	width: 200px;
}
/* Glyphs */
#skill-points-section {
    display: flex;
    justify-content: space-around;
    margin-top: 10px;
    padding: 10px 20px;
	margin-top: auto;
	color: #fff;
}

.glyph-name {
	font-family: PandoraDiamond;
}

.star-container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.skill-circle {
    width: 50px;
    height: 50px;
    border-radius: 50%;
	position: relative;
	display: flex;
    align-items: center;
    justify-content: center;
	background-color: #fff;
}

.inner-skill-circle {
	width: 90%;
	height: 90%;
	top: 50%;
	left: 50%;
	position:absolute;
	transform: translate(-50%, -50%);
	border-radius: 50%;
	background-color: #444;
	color: #fff;
	display: flex;
	align-items: center;
    justify-content: center;
    font-size: 16px;
    font-weight: bold;
	z-indeX: 6;
}

.application-section {
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2px 8px;
    margin: 2px 20px;
    background-color: #1a1a1a;
    border: 2px solid #00BFFF;
}

#main-detail-box {
	position: relative;
    width: 200px;
	display:flex;
	flex-direction: column;
	justify-content: space-between;
}

#side-detail-box {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
    width: 400px;
    margin: 3px 10px;
}

#stat-section {
    color: white;
}

#defensive-stats {
	padding: 20px;
	padding-top: 5px;
    border: 2px solid #00BFFF;
    height: 380px;
    margin: 10px;
    margin-top: 5px;
    width: 385px;
}

#float-box {
	position: absolute;
    right: 35px;
    top: 332px;
    display: block;
    border: 2px solid #A10B0B;
    color: #A10B0B;
    font-size: 20px;
    text-align: center;
    width: 170px;
    height: 80px;
}

.unconditional {
	color: #A10B0B;
}

.enhance-text {
	font-weight: bold;
	text-shadow: 1px 1px red;
    font-size: 26px;
	line-height: 1.2;
}


/* Slots */
#slot-display {
    display: flex;
    justify-content: center;
    align-items: center;
}

.item-name {
	color: #00BFFF;
	font-size: 16px;
	line-height: 1.3;
	text-shadow: 1px 1px 0 #9932CC;
	font-family: PandoraDiamond;
}

.item-thumbnail {
    width: 106px;
    height: 106px;
    margin: 0 auto;
}

.item-slot {
	position: relative;
	min-width: 300px;
	max-width: 300px;
	min-height: 465px;
	max-height: 465px;
	background-color: #111;
    border: 1px solid #9932CC;
	padding: 0px;
	padding-top: 10px;
	font-size: 14px;
    text-align: center;
	display: flex;
	flex-direction: column;
	color: #00BFFF;
}

.item-class-thumbnail {
	position: absolute;
	top: 10px;
	left: 10px;
	height: 36px;
	width: 36px;
}

.element-icons {
	display: flex;
    align-items: center;
    justify-content: center;
	height: 32px;
	margin-top: 4px;
    margin-bottom: 2px;
}

.star-container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 32px;
    margin-top: 0px;
}

.style-line {
	width: 80%;
	margin: 2px auto;
	height: 1px;
	background-color: #00BFFF;
}

/* Colours */
.Celestial {
    background: linear-gradient(145deg, #B399FF, #C7A6FF 50%, #D1C4FF);
}
.Earth {
    background: linear-gradient(145deg, #A0522D, #D2691E 50%, #8B4513);
}
.Fire {
    background: linear-gradient(145deg, #FF4500, #D72A1A 50%, #9B111E);
}
.Ice {
    background: linear-gradient(145deg, #00BFFF, #55B3FF 50%, #ADD8E6);
}
.Light {
    background: linear-gradient(145deg, #FFF, #FFFFF5 50%, #FFFFF0);
}
.Lightning {
    background: linear-gradient(145deg, #FFD700, #FFB300 50%, #FFC300);
}
.Shadow {
    background: linear-gradient(145deg, #2F2F2F, #4A4A4A 50%, #696969);
}
.Water {
    background: linear-gradient(145deg, #1E90FF, #0057E7 50%, #4169E1);
}
.Wind {
    background: linear-gradient(145deg, #7FFFD4, #57EFA0 50%, #228B22);
}

.eleBox-Celestial {
    color: #9932CC;
	border: 2px solid #9932CC;
}
.eleBox-Earth {
    color: #A0522D;
	border: 2px solid #A0522D;
}
.eleBox-Fire {
    color: #FF4500;
	border: 2px solid #FF4500;
}
.eleBox-Ice {
    color: #00BFFF;
	border: 2px solid #00BFFF;
}
.eleBox-Light {
    color: #fff;
	border: 2px solid #fff;
}
.eleBox-Lightning {
    color: #FFD700;
	border: 2px solid #FFD700;
}
.eleBox-Shadow {
    color: #C0C0C0;
	border: 2px solid #C0C0C0;
}
.eleBox-Water {
    color: #1E90FF;
	border: 2px solid #1E90FF;
}
.eleBox-Wind {
    color: #7FFFD4;
	border: 2px solid #7FFFD4;
}

.inactive-element {
	opacity: 0.4;
}

.elemental-highlight-Wind {
    color: #7FFFD4;
    font-size: 20px;
}

.elemental-highlight-Earth {
    color: #A0522D;
    font-size: 20px;
}

.elemental-highlight-Fire {
    color: #FF4500;
    font-size: 20px;
}

.elemental-highlight-Ice {
    color: #00BFFF;
    font-size: 20px;
}

.elemental-highlight-Light {
    color: #FFF;
    font-size: 20px;
}

.elemental-highlight-Lightning {
    color: #FFD700;
    font-size: 20px;
}

.elemental-highlight-Shadow {
    color: #C0C0C0;
    font-size: 20px;
}

.elemental-highlight-Water {
    color: #1E90FF;
    font-size: 20px;
}

.elemental-highlight-Celestial {
    color: #B399FF;
    font-size: 20px;
}

.skill-circle.tier-1{
	background-color: #028A0F;
}
.skill-circle.tier-2{
	background-color: #8080FF;
}
.skill-circle.tier-3{
	background-color: #9B59B6;
}
.skill-circle.tier-4 {
	background-color: #007FFF;
}
.skill-circle.tier-5 {
	background-color: #FFC609;
}
.skill-circle.tier-6{
	background-color: #FFA6C9;
}
.skill-circle.tier-7{
	background-color: #008080;
}
.skill-circle.tier-8 {
	background-color: #E8E8E8;
}
.skill-circle.tier-9 {
	background-color: #C20C0C;
}	
.skill-circle.ultra {
	background: linear-gradient(to right, #b87333, #cd7f32, #a97142, #804a00);
}
.skill-circle.uber {
	background: linear-gradient(to right, #FFD700, #FFC300, #FFB300, #FFA500, #FF8C00);
}
.skill-circle.ultimate {
	background: linear-gradient(to right, #FFD700, #FFC300, #FFB300, #FFA500, #FF8C00);
}

.appBox-Elemental {
    color: #00BFFF; /* Deep Sky Blue */
    border: 2px solid #00BFFF;
}

.appBox-Critical {
    color: #FFD700; /* Yellow */
    border: 2px solid #FFD700;
}

.appBox-Bleed {
    color: #FF4500; /* Orange-Red */
    border: 2px solid #FF4500;
}

.appBox-Ultimate {
    color: #9370DB; /* Medium Purple */
    border: 2px solid #9370DB;
}

.appBox-Mana {
    color: #1E90FF; /* Dodger Blue */
    border: 2px solid #1E90FF;
}

.appBox-Temporal {
    color: #8A2BE2; /* Blue Violet */
    border: 2px solid #8A2BE2;
}

.appBox-Combo {
    color: #7FFFD4; /* Aquamarine */
    border: 2px solid #7FFFD4;
}

.appBox-Aqua {
    color: #00CED1; /* Dark Turquoise */
    border: 2px solid #00CED1;
}

.appBox-Life {
    color: #FF69B4; /* Hot Pink */
    border: 2px solid #FF69B4;
}

.appli-highlight-Elemental {
    color: #00BFFF; /* Deep Sky Blue */
    font-size: 20px;
}

.appli-highlight-Critical {
    color: #FFD700; /* Yellow */
    font-size: 20px;
}

.appli-highlight-Bleed {
    color: #FF4500; /* Orange-Red */
    font-size: 20px;
}

.appli-highlight-Ultimate {
    color: #9370DB; /* Medium Purple */
    font-size: 20px;
}

.appli-highlight-Mana {
    color: #1E90FF; /* Dodger Blue */
    font-size: 20px;
}

.appli-highlight-Temporal {
    color: #8A2BE2; /* Blue Violet */
    font-size: 20px;
}

.appli-highlight-Combo {
    color: #7FFFD4; /* Aquamarine */
    font-size: 20px;
}

.appli-highlight-Aqua {
    color: #00CED1; /* Dark Turquoise */
    font-size: 20px;
}

.appli-highlight-Life {
    color: #FF69B4; /* Hot Pink */
    font-size: 20px;
}
