/* CSS Variables */
/* Modify and reuse throughout stylesheet */
:root {
  --brand-color-primary: #007bff;
  --brand-color-secondary: #780ac3;
  --brand-color-3: #ff0000;
  --brand-color-4: #ff1493;
  --brand-color-5: #ffc107;
  --brand-color-6: #da9932;

  --bg-gradient-primary: linear-gradient(#110eb8, #1c117e, #215a8a);
  --bg-gradient-secondary: linear-gradient(#333333, #1a1a1a);
  --bg-gradient-tertiary: linear-gradient(#da9932, #ae7a28);
  
  --bg-gradient-dark: linear-gradient(#363636, black);
  --border-primary-light: 1px solid rgba(255, 255, 255, 0.15);
}

main {
  display: grid;
  justify-content: center;
  grid-template-columns: 900px 700px;
  padding: 0 4rem;
}

#filter-form {
  display: flex;
  justify-content: center;
  margin-top: 1.75rem;
}

#filter-form input {
  width: 400px;
  margin: 0;
  border-radius: 0;
  border: var(--border-primary-light);
  color: white;
}
#filter-form .input-button {
  margin: 0;
  border-radius: 0;
  margin-left: -1px;
  background: var(--bg-gradient-primary);
  color: white;
  transition: all 0.3s;
  border: var(--border-primary-light);
}
#filter-form .input-button:hover {
  filter: brightness(0.9);
  transition: all 0.3s;
}

#content-container {
  display: grid;
  grid-template-columns: 1fr 400px;
  margin: 5rem 0;
}

#character-box-container {
  grid-column: 1 / 2;
}

#detail-box {
  display: flex;
  background-color: #111;
  width: 720px;
  height: 650px;
  justify-content: center;
  align-items: center;
  border: 1px solid rgba(255, 255, 255, 0.1);
}

/* 
==============================================
# # Player Menu Tabs
==============================================
*/

#detail-buttons {
  display: none;
  margin-top: 1rem;
  justify-content: space-between;
  align-items: center;
}

#detail-buttons button {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  background: var(--bg-gradient-secondary);
  color: white;
  border: none;
  width: 100%;
  width: 6.5rem;
  height: 6.5rem;
  transition: all 0.3s;
  cursor: pointer;
  padding: 1.25rem;
}

#detail-buttons button:hover {
  background-image: var(--bg-gradient-primary);
  color: #000;
  padding: 0.4rem;
  transition: all 0.3s;
}

#detail-buttons .current-button {
  background-image: var(--bg-gradient-primary);
  color: #000;
  font-weight: bold;
  transition: all 0.3s;
  border: 1px solid white;
}


.player-button-img {
  width: 100%;
  height: 100%;
  background-image: url(/images/Icons/user-circle-dashed-fill.png);
  background-size: cover;
}
.elemental-button-img {
  width: 100%;
  height: 100%;
  background-image: url(/images/Icons/dna-fill.png);
  background-size: cover;
}
.defense-button-img {
  width: 100%;
  height: 100%;
  background-image: url(/images/Icons/shield-checkered-fill.png);
  background-size: cover;
}
.details-button-img {
  width: 100%;
  height: 100%;
  background-image: url(/images/Icons/chart-donut-fill.png);
  background-size: cover;
}
.misc-button-img {
  width: 100%;
  height: 100%;
  background-image: url(/images/Icons/infinity-fill.png);
  background-size: cover;
}
.reload-button-img {
  width: 100%;
  height: 100%;
  background-image: url(/images/Icons/arrow-clockwise-fill.png);
  background-size: cover;
}

/* 
==============================================
# # Player Info Box
==============================================
*/

#player-info {
  width: 100%;
}

#player-box-content {
  padding: 1rem;
}

.character-icon {
  width: 32px;
  height: 32px;
  margin-right: 16px;
}

.stat-icon {
  margin-right: 16px;
}

#player-table {
  color: white;
  margin-bottom: 1rem;
}

.player-table-title {
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: var(--bg-gradient-dark);
  border: var(--border-primary-light);
  background-clip: content-box;
  height: 3rem;
  margin-bottom: 1rem;
  color: white;
  font-size: 20px;
}
.player-table-title div,
.player-table-title th,
.player-table-title span {
  width: 100%;
  background: none;
  text-transform: uppercase;
  text-align: center;
}

.player-table-stat {
  display: flex;
  justify-content: start;
  align-items: center;
  padding: 0 12px;
  height: 64px;
  font-size: 18px;
}

.player-table-stat:nth-child(even) {
  background: none;
}
.player-table-stat:nth-child(odd) {
  background: #1b1a18;
}

.player-table-stat td:first-of-type {
  width: 50%;
}
.player-table-stat td:last-of-type {
  color: var(--brand-color-5);
}
.stat-section-left {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: nowrap;
  width: 50%;
  font-size: 18px;
}
.stat-section-right {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: nowrap;
  color: var(--brand-color-5);
  font-size: 18px;
  gap: 4px;
}
#player-table td {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: nowrap;
}

#char-name-section {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  color: white;
  padding: 12px 0;
}
#char-name-section::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url(/images/Banner/fantasy-gold-rock.jpg);
  background-size: cover;
  opacity: 0.15;
}

.char-name {
  font-size: 1.75rem;
}

.exp-bar,
.elemental-bar {
  /* background: linear-gradient(to right, #d8d8d8, #c0c0c0, #a8a8a8); */
  display: flex;
  height: 16px;
  padding: 2px;
  width: 320px;
  border-radius: 15px;
  margin: auto;
}

.elemental-bar .start,
.exp-bar .start {
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;
}
.elemental-bar .end,
.exp-bar .end {
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
}

.exp-fill {
  height: 100%;
  background-color: #4285f4;
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;
}

.exp-empty {
  height: 100%;
  background-color: #2f2f2f;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
}

.element-segment,
.exp-bar {
  position: relative;
}

.element-segment .tooltip {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 200px;
}
/* Glyphs */
#skill-points-section {
  display: flex;
  justify-content: space-between;
  padding: 0;
  margin-top: auto;
  color: #fff;
}

.glyph-name {
  font-family: PandoraDiamond;
}

.skill-circle {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #fff;
}

.inner-skill-circle {
  width: 90%;
  height: 90%;
  top: 50%;
  left: 50%;
  position: absolute;
  transform: translate(-50%, -50%);
  border-radius: 50%;
  background: var(--bg-gradient-dark);
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 16px;
  font-weight: bold;
  z-index: 6;
}

.application-section {
  border-radius: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2px 8px;
  margin: 2px 20px;
  background-color: #1a1a1a;
  border: 2px solid #00bfff;
}

#detail-container {
  display: grid;
  grid-template-columns: 30% 70%;
}

#main-detail-box {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 12px;
  width: 80%;
}

#side-detail-box {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 12px;
}

.side-detail-list {
  display: none;
}
.side-detail-list-active {
  display: block;
  padding: 12px;
  height: 100%;
}

#stat-section {
  color: white;
}

#defensive-stats {
  /* padding: 20px; */
  /* border: 2px solid #00bfff; */
  /* height: 380px; */
  /* width: 385px; */
  /* margin: 10px; */
  /* margin-top: 5px; */
  color: white;
}

#float-box {
  position: absolute;
  right: 35px;
  top: 332px;
  display: block;
  border: 2px solid #a10b0b;
  color: #a10b0b;
  font-size: 20px;
  text-align: center;
  width: 170px;
  height: 80px;
}

.unconditional {
  color: #a10b0b;
}

.enhance-text {
  font-weight: bold;
  text-shadow: 1px 1px red;
  font-size: 26px;
  line-height: 1.2;
}

/* Slots */
#slot-buttons-container {
  display: none;
  justify-content: start;
  align-items: center;
  flex-direction: column;
  grid-column: 2 / 3;
  width: 20%;
  gap: 16px;
}

.item-slot-button {
  background: var(--bg-gradient-secondary);
  border: none;
  width: 64px;
  height: 64px;
  cursor: pointer;
  transition: all 0.3s;
  padding: 6px;
}
.item-slot-button:hover {
  padding: 0px;
  background: var(--bg-gradient-primary);
  filter: brightness(1.2);
  transition: all 0.3s;
}
.item-slot-button-active {
  background: var(--bg-gradient-primary);
  filter: brightness(1.2);
  transition: all 0.3s;
}

.item-slot-icon {
  display: block;
  width: 100%;
  height: 100%;
  background-image: url(/images/Icons/item_placeholder_106px.png);
  background-size: cover;
}

#slot-display {
  display: flex;
  justify-content: center;
  margin: 5rem;
}

.item-name {
  color: #00bfff;
  font-size: 1.2rem;
  line-height: 1.3;
  text-shadow: 1px 1px 0 #9932cc;
  font-family: PandoraDiamond;
  text-align: center;
  width: 80%;
  margin: 0.7rem auto 0 auto;
}

#badge-container {
  display: flex;
  justify-content: flex-start;
}

.item-name-badge, .item-id-badge, .item-tier-badge {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: PandoraDiamond;
  text-align: center;
  color: black;
  font-size: 16px;
  padding: 4px;
  max-width: fit-content;
}

.item-name-badge {
  background: #00bfff;
  margin: 0 0 8px 30px;
}

.item-id-badge {
  background: #ff4b4b;
  margin: 0 0 8px 5px;
}

.item-tier-badge {
  background: #2a944a;
  margin: 0 0 8px 5px;
}

.item-thumbnail {
  width: 106px;
  height: 106px;
  margin: 0 auto;
}

#image-tarot {
  border: none;
  min-width: 420px;
  max-width: 420px;
  min-height: 600px;
  max-height: 600px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.item-slot {
  position: relative;
  min-width: 400px;
  max-width: 400px;
  min-height: 650px;
  max-height: 650px;
  background-color: #111;
  border: 1px solid white;
  padding: 0px;
  padding-top: 10px;
  font-size: 14px;
  text-align: center;
  display: none;
  flex-direction: column;
  color: white;
  margin-right: 1rem;
}

.item-class-thumbnail {
  position: absolute;
  top: 10px;
  left: 10px;
  height: 36px;
  width: 36px;
}

.element-icons {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 20px;
  margin: 0 0 0.8rem 0;
}

.star-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 32px;
  margin: 0 0 0.8rem 0;
  gap: 4px;
}
.star-container img {
  width: 26px;
  height: 26px;
}

.style-line {
  width: 80%;
  margin: 8px auto;
  height: 1px;
  background-color: rgba(255, 255, 255, 0.15);
}

.item-dmg-stat,
.stat-message {
  color: white;
  text-align: left;
  width: 80%;
  font-size: 1rem;
  margin: 0.25rem auto;
}

.skill-slot {
  font-size: 1rem;
  text-align: left;
  width: 80%;
  margin: 0.3rem auto;
}

/* Colours */
.Celestial {
  background: linear-gradient(145deg, #b399ff, #c7a6ff 50%, #d1c4ff);
}
.Earth {
  background: linear-gradient(145deg, #a0522d, #d2691e 50%, #8b4513);
}
.Fire {
  background: linear-gradient(145deg, #ff4500, #d72a1a 50%, #9b111e);
}
.Ice {
  background: linear-gradient(145deg, #00bfff, #55b3ff 50%, #add8e6);
}
.Light {
  background: linear-gradient(145deg, #fff, #fffff5 50%, #fffff0);
}
.Lightning {
  background: linear-gradient(145deg, #ffd700, #ffb300 50%, #ffc300);
}
.Shadow {
  background: linear-gradient(145deg, #2f2f2f, #4a4a4a 50%, #696969);
}
.Water {
  background: linear-gradient(145deg, #1e90ff, #0057e7 50%, #4169e1);
}
.Wind {
  background: linear-gradient(145deg, #7fffd4, #57efa0 50%, #228b22);
}

#resistance-box {
  margin-bottom: 1.75rem;
}

#resistance-box .element-section {
  display: flex;
  justify-content: start;
  align-items: center;
}

.element-section {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  justify-content: space-between;
  align-items: center;
  /* border-radius: 10px; */
  padding: 4px 8px;
  margin-bottom: 12px;
}

.element-section h1 {
  font-size: 1rem;
}

.detail-section {
  height: 100%;
}

.total-box {
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 8px;
}

.inactive-element {
  opacity: 0.4;
}

.eleBox-Celestial {
  color: #9932cc;
  border: 2px solid #9932cc;
}
.eleBox-Earth {
  color: #a0522d;
  border: 2px solid #a0522d;
}
.eleBox-Fire {
  color: #ff4500;
  border: 2px solid #ff4500;
}
.eleBox-Ice {
  color: #00bfff;
  border: 2px solid #00bfff;
}
.eleBox-Light {
  color: #fff;
  border: 2px solid #fff;
}
.eleBox-Lightning {
  color: #ffd700;
  border: 2px solid #ffd700;
}
.eleBox-Shadow {
  color: #c0c0c0;
  border: 2px solid #c0c0c0;
}
.eleBox-Water {
  color: #1e90ff;
  border: 2px solid #1e90ff;
}
.eleBox-Wind {
    color: #7FFFD4;
	border: 2px solid #7FFFD4;
}

.inactive-element {
	opacity: 0.4;
}

.elemental-highlight-Wind {
    color: #7FFFD4;
    font-size: 20px;
}

.elemental-highlight-Earth {
    color: #A0522D;
    font-size: 20px;
}

.inner-skill-circle .uber,
.uber td {
  background: linear-gradient(to right, #c0c0c0, #d4d4d4, #e8e8e8, #f2f2f2);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
}
.elemental-highlight-Fire {
    color: #FF4500;
    font-size: 20px;
}

.elemental-highlight-Ice {
    color: #00BFFF;
    font-size: 20px;
}

.elemental-highlight-Light {
    color: #FFF;
    font-size: 20px;
}

.inner-skill-circle .ultimate,
.ultimate td {
  background: linear-gradient(
    to right,
    #ffd700,
    #ffc300,
    #ffb300,
    #ffa500,
    #ff8c00
  );
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
}

.elemental-highlight-Lightning {
    color: #FFD700;
    font-size: 20px;
}

.elemental-highlight-Shadow {
    color: #C0C0C0;
    font-size: 20px;
}

.elemental-highlight-Water {
    color: #1E90FF;
    font-size: 20px;
}

.elemental-highlight-Celestial {
    color: #B399FF;
    font-size: 20px;
}

.skill-circle.tier-1 {
  background-color: #028a0f;
}
.skill-circle.tier-2 {
  background-color: #8080ff;
}
.skill-circle.tier-3 {
  background-color: #9b59b6;
}
.skill-circle.tier-4 {
  background-color: #007fff;
}
.skill-circle.tier-5 {
  background-color: #ffc609;
}
.skill-circle.tier-6 {
  background-color: #ffa6c9;
}
.skill-circle.tier-7 {
  background-color: #008080;
}
.skill-circle.tier-8 {
  background-color: #e8e8e8;
}
.skill-circle.tier-9 {
  background-color: #c20c0c;
}
.skill-circle.ultra {
  background: linear-gradient(to right, #b87333, #cd7f32, #a97142, #804a00);
}
.skill-circle.uber {
  background: linear-gradient(
    to right,
    #ffd700,
    #ffc300,
    #ffb300,
    #ffa500,
    #ff8c00
  );
}
.skill-circle.ultimate {
  background: linear-gradient(
    to right,
    #ffd700,
    #ffc300,
    #ffb300,
    #ffa500,
    #ff8c00
  );
}
.rare-skill,
.command-column {
  color: #c20c0c;
}

.appBox-Elemental {
  color: #00bfff; /* Deep Sky Blue */
  border: 2px solid #00bfff;
}

.appBox-Critical {
  color: #ffd700; /* Yellow */
  border: 2px solid #ffd700;
}

.appBox-Bleed {
  color: #ff4500; /* Orange-Red */
  border: 2px solid #ff4500;
}

.appBox-Ultimate {
  color: #9370db; /* Medium Purple */
  border: 2px solid #9370db;
}

.appBox-Mana {
  color: #1e90ff; /* Dodger Blue */
  border: 2px solid #1e90ff;
}

.appBox-Temporal {
  color: #8a2be2; /* Blue Violet */
  border: 2px solid #8a2be2;
}

.appBox-Combo {
  color: #7fffd4; /* Aquamarine */
  border: 2px solid #7fffd4;
}

.appBox-Aqua {
  color: #00ced1; /* Dark Turquoise */
  border: 2px solid #00ced1;
}

.appBox-Life {
  color: #ff69b4; /* Hot Pink */
  border: 2px solid #ff69b4;
}

.appli-highlight-Elemental {
  color: #00bfff; /* Deep Sky Blue */
  font-size: 20px;
}

.appli-highlight-Critical {
  color: #ffd700; /* Yellow */
  font-size: 20px;
}

.appli-highlight-Bleed {
  color: #ff4500; /* Orange-Red */
  font-size: 20px;
}

.appli-highlight-Ultimate {
  color: #9370db; /* Medium Purple */
  font-size: 20px;
}

.appli-highlight-Mana {
  color: #1e90ff; /* Dodger Blue */
  font-size: 20px;
}

.appli-highlight-Temporal {
  color: #8a2be2; /* Blue Violet */
  font-size: 20px;
}

.appli-highlight-Combo {
  color: #7fffd4; /* Aquamarine */
  font-size: 20px;
}

.appli-highlight-Aqua {
  color: #00ced1; /* Dark Turquoise */
  font-size: 20px;
}

.appli-highlight-Life {
  color: #ff69b4; /* Hot Pink */
  font-size: 20px;
}
