/* CSS Variables */
/* Modify and reuse throughout stylesheet */
:root {
    --brand-color-primary: #007bff;
    --brand-color-secondary: #780ac3;
    --brand-color-3: #ff0000;
    --brand-color-4: #ff1493;
    --brand-color-5: #ffc107;
    --brand-color-6: #da9932;
  
    --bg-gradient-primary: linear-gradient(#110eb8, #1c117e, #09086b);
    --bg-gradient-secondary: linear-gradient(#1e1e1e, #111111);
    --bg-gradient-tertiary: linear-gradient(#da9932, #ae7a28);
  
    --bg-gradient-dark: linear-gradient(#2f2f2f, black);
    --border-primary-light: 1px solid rgba(255, 255, 255, 0.15);
  }

.ease-load {
	opacity: 0;
	animation: fadeIn 0.5s forwards ease-in-out;
}

.content-container {
    display: flex;
	overflow-y: auto;
	height: calc(100vh - 100px);
}

/* Preview Display */
#gallery-content {
	display: flex;
	flex-grow: 1;
	flex-direction: column;
	margin: 40px 60px;
    margin-top: 20px;
    background-color: #111;
	border: 2px solid white;
}

#preview-box {
	position: relative;
	background-color: #111;
    width: 600px;
    height: 100%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-auto-rows: 140px;
    margin-top: 15px;
    margin-bottom: 15px;
    gap: 15px;
    overflow-y: auto;
    padding: 0;    
}

.gallery-image {
    max-width: 100px;
    height: auto;
	margin: auto;
    border: 2px solid white;
    cursor: pointer;
	box-sizing: border-box;
	background-color: rgba(17, 17, 17, 0.7);
}

.gallery-image:hover {
    border-color: var(--brand-color-secondary);
	box-shadow: var(--brand-color-primary) 0 0 10px 2px;
}

.selected-preview {
    border: 2px solid var(--brand-color-primary);
    box-shadow: 0 0 10px 2px var(--brand-color-secondary);
}

#image-name {
	margin-top: 5px;
	margin-bottom: 2px;
}

#image-dimensions {
	margin-top: 2px;
	margin-bottom: 2px;
}

#info-box {
	margin-top: auto;
	position: relative;
	bottom: 0;
	left: 0;
	right: 0;
	background-color: #111;
    color: white;
	padding: 0px;
	padding-top: 10px;
    max-width: 100%;
    text-align: center;
    border-top: 2px solid white;
}

#shop-link {
	margin: 10px auto;
    display: none;
}

.bottom-button {
	padding-left: 0px !important;
	padding-right: 0px !important;
	display: flex;
	justify-content: center;
	align-items: center;
	margin-top: auto;
    background-color: var(--bg-gradient-primary);
}

/* Suckerfish Dropdown */
#primary-nav{
    position: relative;
	display: flex;
	justify-content: center;
    align-items: center;
	height: 70px;
    padding: 10px;
    border-bottom: 2px solid white;
}

.sf-menu {
    font-weight: normal;
    list-style: none;
    padding: 0;
    margin: 0;
}

.sf-menu li {
    position: relative;
    display: inline-block;
    width: 80px;
    text-align: center;
}

.sf-menu li a {
    display: flex;
    justify-content: center;
    align-items: center;
	height: 40px;
    text-decoration: none;
}
.sf-menu li:hover > a,
.sf-menu li.sfHover > a {
	box-shadow: 0px 6px 8px rgba(0, 0, 0, 0.5); 
	transform: translateY(-2px);
}

.sf-menu li ul {
    position: absolute;
    background: var(--bg-gradient-dark);
    top: 100%;
    left: 0;
    width: 80px;
    display: none;
    opacity: 0;
    transform: translateY(-10px);
    transition: all 0.4s ease-in-out;
    z-index: 99;
    visibility: hidden;
}
.sf-menu li:hover ul,
.sf-menu li.sfHover ul {
    display: block;
    opacity: 1;
    transform: translateY(0);
    visibility: visible;
}

.primary-option {
	margin: 0 5px;
    background: var(--bg-gradient-primary);
}

.primary-option a {
    position: relative;
    color: white;
	z-index: 100;
    transition: all 0.3s;
}
.primary-option a.active, .primary-option a:hover {
    filter: brightness(1.5);
    transition: all 0.3s;
}

.sub-option {
	margin: 0;
}
.sub-option .sub-a {
    padding: 5px 0;
    color: white;
}

.sf-option .sub-a:hover {
	transform: translateY(-2px);
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.3);
}

/* Fullsize display */
.fullsize-container {
	width: 100%;
    display: flex;
    height: 100%;
    padding: 40px 60px;
	padding-top: 20px;
	/*background-color: rgba(17, 17, 17, 0.3);*/
}

#fullsize-image {
	min-width: 400px;
    width: auto;
    background-color: #000;
	image-rendering: auto;
    display: flex;
	flex: 2;
    justify-content: center;
    align-items: center;
	border: 2px solid white;
}

#fullsize-image img {
	height: auto;
    max-width: 80%;
    max-height: 80%;
    object-fit: contain;
}

#fullsize-image img:hover {
	cursor: pointer;
}

/* Color Picker */
.color-bar {
	margin-top: 10px;
    display: flex;
    justify-content: center;
}
.color-button {
    width: 20px;
    height: 20px;
    margin: 0 5px;
	border-radius: 50%;
    border: 2px solid darkgray;
    cursor: pointer;
    background-color: white;
}
.color-button[data-color="#FFFFFF"] {
    background-color: #FFFFFF;
}
.color-button[data-color="#000000"] {
    background-color: #000000;
}
.color-button[data-color="#8B0000"] {
    background-color: #8B0000;
}
.color-button[data-color="#1A2E5C"] {
    background-color: #1A2E5C;
}
.color-button[data-color="#006400"] {
    background-color: #006400;
}
.color-button[data-color="#4B0082"] {
    background-color: #4B0082;
}
.color-button.selected {
    border: 2px solid #00BFFF;
}

.info-box h2, .info-box p, .info-box a {
    margin: 5px 0;
}

.image-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    position: relative;
}

.loading-spinner {
    border: 4px solid var(--brand-color-primary);
    border-top: 4px solid var(--brand-color-secondary);
	background: #fff;
    border-radius: 50%;
    width: 24px;
    height: 24px;
    animation: spin 1s linear infinite;
    position: absolute;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

/* Animation */
.fade {
	opacity: 0;
    transition: opacity 0.2s ease-in-out;
}

.show-content {
    opacity: 1;
    transition: opacity 0.2s ease-in-out;
}

@keyframes fadeIn {
    from {opacity: 0} 
    to {opacity: 1}
}