/* CSS Variables */
/* Modify and reuse throughout stylesheet */
  :root {
    --brand-color-primary: #007bff;
    --brand-color-secondary: #780ac3;
    --brand-color-3: #ff0000;
    --brand-color-4: #ff1493;
    --brand-color-5: #ffc107;
    --brand-color-6: #da9932;
  
    --bg-gradient-primary: linear-gradient(#110eb8, #1c117e, #09086b);
    --bg-gradient-secondary: linear-gradient(#1e1e1e, #111111);
    --bg-gradient-tertiary: linear-gradient(#da9932, #ae7a28);
  
    --bg-gradient-dark: linear-gradient(#2f2f2f, black);
    --border-primary-light: 1px solid rgba(255, 255, 255, 0.15);
  }

  @font-face {
    font-family: "PandoraDiamond";
    src: url("../font/PandoraDiamond/PandoraDiamond.woff2") format("woff2"),
      url("../font/PandoraDiamond/PandoraDiamond.woff") format("woff");
  }


  /* GENERAL CSS */
  ::-webkit-scrollbar {
    width: 12px;
  }
  
  ::-webkit-scrollbar-track {
    background: #111;
    border-radius: 10px;
  }
  
  ::-webkit-scrollbar-thumb {
    background: #9932cc;
    border-radius: 10px;
    border: 3px solid #111;
  }
  
  ::-webkit-scrollbar-thumb:hover {
    background: #00bfff;
  }
  
  html {
    scrollbar-width: thin;
    scrollbar-color: #9932cc #111;
    background-color: #111;
  }

  body {
    height: 100vh;
    background-color: #111;
    background-image: url("https://www.PandoraPortal.ca/images/spatialBG.webp");
    background-size: cover;
    background-repeat: no-repeat;
  }
  
  main {
    height: 100vh;
    width: 100%;
    overflow-y: auto;
  }
  
  * {
    margin: 0;
    padding: 0;
    color: white;
    box-sizing: border-box;
    font-family: PandoraDiamond;
  }
  
  .unselectable {
    -moz-user-select: -moz-none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -o-user-select: none;
    user-select: none;
  }

  #status-id {
    position: absolute;
    font-size: 1.6rem;
    left: 15px;
    bottom: 15px;
    border: 3px solid green;
    background-color:rgba(0, 0, 0, 0.9);
    padding: 5px;
  }
  #status-error {
    font-size: 2rem;
    border: 2px solid red;
    background-color:rgba(0, 0, 0, 0.9);
    padding: 15px;
  }
  
  /* Bottom-Menu CSS */
  #bottom-menu {
    position: relative;
    background-size: cover;
    background-repeat: no-repeat;
    height: 250px;
    width: 100%;
    gap: 20px;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 5;
  }
  
  #bottom-menu a {
    position: relative;
    display: inline-block;
    font-family: PandoraDiamond;
    font-size: 2.4rem;
    height: 80px;
    width: 200px;
    text-align: center;
    background-size: cover;
    background-repeat: no-repeat;
    transition: color 0.3s;
    border: 1px solid white;
    text-shadow: 1px 1px black;
  }
  
  #bottom-menu a span {
    position: relative;
    background-color: rgba(0, 0, 0, 0.3);
    width: 100%;
    height: 100%;
    padding: 10px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    z-index: 4;
    }

#bottom-menu a::before {
  content: "";
  position: absolute;
  display: inline-block;
  background-size: cover;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transition: background-color 0.3s, color 0.3s;
}

.button-green::before {
  background-image: url("../images/Button/Button_Emerald.webp");
}
.button-gold::before {
  background-image: url("../images/Button/Button_Gold.webp");
}
.button-amethyst::before {
  background-image: url("../images/Button/Button_Amethyst.webp");
}
.button-azure::before {
  background-image: url("../images/Button/Button_Azure.webp");
}
.button-ruby::before {
  background-image: url("../images/Button/Button_Ruby.webp");
}
.button-pink::before {
  background-image: url("../images/Button/Button_Pink.webp");
}

#bottom-menu .button-green:hover span {
  background-color: rgba(2, 165, 2, 0.3);
}
#bottom-menu .button-gold:hover span {
  background-color: rgba(255, 193, 7, 0.3);
}
#bottom-menu .button-amethyst:hover span {
  background-color: rgba(120, 10, 195, 0.3);
}
#bottom-menu .button-azure:hover span {
  background-color: rgba(0, 123, 255, 0.3);
}
#bottom-menu .button-ruby:hover span {
  background-color: rgba(255, 0, 0, 0.3);
}
#bottom-menu .button-pink:hover span {
  background-color: rgba(255, 20, 147, 0.3);
}

/* LAYOUT CSS */
  #play-main {
    position: absolute;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    padding: 25px;
  }
  #left-spacer, #right-spacer {
    position: relative;
    height: 100%;
    width: 350px;
  }
  #interface-screen {
    position: absolute;
    top: 0;
    bottom: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    pointer-events: none;
    z-index: 1;
  }

  #main-interface {
    position: relative;
    height: 100%;
    width: 100%;
    display: flex;
    padding-top: 20px;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    z-index: 5;
  }

  #primary-content {
    position: relative;
    background-color: black;
    border: 1px solid white;
    flex: 1;
    max-height: 90%;
    width: 100%;
  }
  #loadscreen {
    background-image: url('../gallery/Displays/Banners/Pandora\ Awoken.webp');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
  }

/* Inventory */
  #inventory-container {
    position: relative;
    display: none;
    flex-direction: column;
    align-items: center;
    height: 100%;
    width: 100%;
    padding-bottom: 80px;
  }
  #inventory-menu {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 200px;
    width: 100%;
    gap: 10px;
  }
  #inventory-screen {
    position: relative;
    display: grid;
    grid-template-columns: repeat(auto-fill, 104px);
    padding: 0px 50px;
    gap: 25px;
    overflow-y: auto;
    height: 100%;
    max-width: 1700px;
    width: 100%;
  }
  .sort-button {
    border: 2px solid red;
    background-color: black;
    color: white;
    height:50px;
    width: 100px;
  }
  .sort-button:hover {
    background-color: gray;
  }
  .inventory-item {
    position: relative;
    width: 104px;
    height: 104px;
  }
  .inventory-hovername {
    display: none;
    position: absolute;
    padding: 8px;
    font-size: 1rem;
    text-align: center;
    color: white;
    border: 1px solid white;
    background-color: black;
    z-index: 10;
  }
  .inventory-item:hover .inventory-hovername{
    display: flex;
  }

/* MEDIA QUERIES */
@media (max-width: 2000px) {
  #bottom-menu {
    height: 140px;
    padding: 20px;
  }
  #bottom-menu a {
    font-size: 1.6rem;
    height: 60px;
    width: 130px;
  }
  #left-spacer, #right-spacer {
    width: 200px;
  }
}

@media (max-width: 1600px) {
  #left-spacer, #right-spacer {
    width: 100px;
  }
}

@media (max-width: 900px) {
  #left-spacer, #right-spacer {
    width: 10px;
  }
  #play-main {
    padding: 5px;
  }
  #main-interface{
    padding-top: 5px;
  }
  #bottom-menu {
    flex-wrap: wrap;
    padding: 5px;
  }
  #bottom-menu a span{
    flex: 1 1 150px;
  }
}

