/* CSS Variables */
/* Modify and reuse throughout stylesheet */
  :root {
    --brand-color-primary: #007bff;
    --brand-color-secondary: #780ac3;
    --brand-color-3: #ff0000;
    --brand-color-4: #ff1493;
    --brand-color-5: #ffc107;
    --brand-color-6: #da9932;
  
    --bg-gradient-primary: linear-gradient(#110eb8, #1c117e, #09086b);
    --bg-gradient-secondary: linear-gradient(#1e1e1e, #111111);
    --bg-gradient-tertiary: linear-gradient(#da9932, #ae7a28);
  
    --bg-gradient-dark: linear-gradient(#2f2f2f, black);
    --border-primary-light: 1px solid rgba(255, 255, 255, 0.15);
  }

  @font-face {
    font-family: "PandoraDiamond";
    src: url("../font/PandoraDiamond/PandoraDiamond.woff2") format("woff2"),
      url("../font/PandoraDiamond/PandoraDiamond.woff") format("woff");
  }


  /* GENERAL CSS */
  ::-webkit-scrollbar {
    width: 12px;
  }
  
  ::-webkit-scrollbar-track {
    background: #111;
    border-radius: 10px;
  }
  
  ::-webkit-scrollbar-thumb {
    background: #9932cc;
    border-radius: 10px;
    border: 3px solid #111;
  }
  
  ::-webkit-scrollbar-thumb:hover {
    background: #00bfff;
  }
  
  html {
    scrollbar-width: thin;
    scrollbar-color: #9932cc #111;
    background-color: #111;
  }

  body {
    height: 100vh;
    background-color: #111;
    background-image: url("https://www.PandoraPortal.ca/images/spatialBG.webp");
    background-size: cover;
    background-repeat: no-repeat;
  }
  
  main {
    height: 100vh;
    width: 100%;
    overflow-y: auto;
  }
  
  * {
    margin: 0;
    padding: 0;
    color: white;
    box-sizing: border-box;
    font-family: PandoraDiamond;
  }
  
  .highlight-text {
    color: var(--brand-color-primary);
    text-shadow: 2px 2px var(--brand-color-secondary);
  }
  
  .unselectable {
    -moz-user-select: -moz-none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -o-user-select: none;
    user-select: none;
  }

  .hideItem {
    display: none !important;
  }

   /* Login Logout */
  #status-id {
    position: absolute;
    font-size: 1.6rem;
    left: 15px;
    bottom: 15px;
    border: 3px solid green;
    background-color:rgba(0, 0, 0, 0.9);
    padding: 5px;
    z-index: 1000;
  }
  #login-container {
    border: 2px solid red;
    height: 600px;
    width: 450px;
    padding: 50px;
  }
  #login-header {
    color: red;
    text-align:center;
    font-size: 2.4rem;
    margin-bottom: 10px;
  }
  #login-instructions {
    color: white;
    font-size: 1.3rem;
    line-height: 1.5;
    margin-bottom: 15px;
  }
  #login-instructions li{
    list-style-position: inside; 
  }
  #login-form {
    display: flex;
    flex-direction: column;
    gap: 10px;
    font-size: 2rem;
    padding: 15px;
  }
  #login-form input[type="text"], #login-form input[type="password"] {
      width: 100%;
      padding: 8px;
      font-size: 14px;
      border: 1px solid #555;
      border-radius: 5px;
      background-color: #333;
      color: white;
  }
  #login-form label {
    font-size: 1.2rem;
  }
  #login-form button {
    background-color: darkred;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
  }
  #login-form button:hover {
    background-color: green;
  }


  .logout-button {
    text-decoration: none;
  }
  
  /* Bottom-Menu CSS */
  #bottom-menu {
    position: relative;
    background-size: cover;
    background-repeat: no-repeat;
    height: 250px;
    width: 100%;
    gap: 20px;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 5;
    flex-shrink: 0;
  }
  
  #bottom-menu a {
    position: relative;
    display: inline-block;
    font-family: PandoraDiamond;
    font-size: 2.4rem;
    height: 80px;
    width: 200px;
    text-align: center;
    background-size: cover;
    background-repeat: no-repeat;
    transition: color 0.3s;
    border: 1px solid white;
    text-shadow: 1px 1px black;
  }
  
  #bottom-menu a span {
    position: relative;
    background-color: rgba(0, 0, 0, 0.3);
    width: 100%;
    height: 100%;
    padding: 10px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    z-index: 4;
    }

#bottom-menu a::before {
  content: "";
  position: absolute;
  display: inline-block;
  background-size: cover;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transition: background-color 0.3s, color 0.3s;
}

.button-green::before {
  background-image: url("../images/Button/Button_Emerald.webp");
}
.button-gold::before {
  background-image: url("../images/Button/Button_Gold.webp");
}
.button-amethyst::before {
  background-image: url("../images/Button/Button_Amethyst.webp");
}
.button-azure::before {
  background-image: url("../images/Button/Button_Azure.webp");
}
.button-ruby::before {
  background-image: url("../images/Button/Button_Ruby.webp");
}
.button-pink::before {
  background-image: url("../images/Button/Button_Pink.webp");
}

#bottom-menu .button-green:hover span {
  background-color: rgba(2, 165, 2, 0.3);
}
#bottom-menu .button-gold:hover span {
  background-color: rgba(255, 193, 7, 0.3);
}
#bottom-menu .button-amethyst:hover span {
  background-color: rgba(120, 10, 195, 0.3);
}
#bottom-menu .button-azure:hover span {
  background-color: rgba(0, 123, 255, 0.3);
}
#bottom-menu .button-ruby:hover span {
  background-color: rgba(255, 0, 0, 0.3);
}
#bottom-menu .button-pink:hover span {
  background-color: rgba(255, 20, 147, 0.3);
}

/* LAYOUT CSS */
  #play-body{
    height: 100vh;
  }
  #play-main {
    height: 100vh;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 25px;
  }
  #blocking-screen {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0);
    z-index: 99999;
    pointer-events: auto;
  }
  #interface-screen {
    position: absolute;
    top: 0;
    bottom: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    pointer-events: none;
    z-index: 1;
  }

  #main-interface {
    position: relative;
    height: calc(100vh - 50px);
    width: 80%;
    display: flex;
    padding-top: 20px;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    z-index: 5;
  }

  #primary-content {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: black;
    border: 1px solid white;
    flex: 1;
    height: calc(100vh - 320px);
    width: 100%;
  }
  #loadscreen {
    background-image: url('../gallery/Displays/Banners/Pandora\ Awoken.webp');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
  }

/* Lightbox */
  #lightbox-screen {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.75);
    justify-content: center;
    align-items: center;
    z-index: 1000;
    cursor: pointer;
  }
  #lightbox-container {
    position: relative;
    width: 400px;
    max-width: 90%;
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 15px;
    cursor: default;
  }
  #lightbox-display {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
  }
  #lightbox-display h2 {
      font-size: 20px;
      margin: 5px 0;
      color: #f0d264;
  }
  #lightbox-menu {
    position: relative;
    display: flex;
    justify-content: center;
    gap: 10px;
  }
  #lightbox-menu button {
    color: white;
    border: none;
    padding: 8px 12px;
    margin: 3px;
    font-size: 1rem;
    height: 40px;
    width: 85px;
    cursor: pointer;
    border-radius: 5px;
    transition: all 0.3s;
  }
  #lightbox-menu button:hover, #inlay-gear-select button:hover {
    filter: brightness(1.3);
  }
  .lightbox-button-green {
    background-color: rgba(2, 165, 2);
  }
  .lightbox-button-red {
    background-color: rgb(160, 10, 10);
  }
  .lightbox-button-blue {
    background-color: rgba(0, 123, 255);
  }
  .lightbox-button-gray {
    background-color: #444;
  }
/* Forge */
  #forge-container {
    position: relative;
    display: none;
    flex-direction: column;
    align-items: center;
    height: 100%;
    width: 100%;
    padding-bottom: 80px;
  }
  #forge-screen-container {
    position: relative;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    width: 100%;
    max-width: 1700px;
    height: 100%;
    padding: 50px;
    gap: 50px;
    padding-bottom: 80px;
  }
  #forge-menu {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #242424;
    gap: 15px;
    padding: 20px 50px;
    width: 400px;
    height: 651px;
  }
  #sub-forge-menu {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    gap: 10px;
  }
  #forge-sub-header {
    font-size: 1.5rem;
    font-weight: normal;
    text-align: center;
  }
  .forge-button, .sub-forge-button, .final-forge-button {
    padding: 12px;
    font-size: 1.2rem;
    width: 280px;
    height: 45px;
    color: white;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s;
    border-radius: 5px;
  }
  .forge-button {
    background-color: rgb(160, 10, 10);
  }
  .sub-forge-button {
    background-color: rgba(2, 165, 2);
  }
  .final-forge-button {
    background-color: rgba(0, 123, 255);
  }
  .forge-button:hover, .sub-button:hover, .final-forge-button:hover {
    filter: brightness(1.3);
  }

  .action-row {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 10px;
  }

  select {
    padding: 8px;
    height: 38px;
    width: 220px;
    font-size: 1.2rem;
    background-color: #333;
    color: white;
    border: 1px solid #555;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
  }

  select:hover {
    background-color: #444;
    cursor: pointer;
  }

  .cost-row{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
  }
  .cost-icon {
    width: 32px;
    height: 32px;
  }
  .cost-name {
    font-size: 1.2rem;
  }

/* Inventory/Gear */
  #gear-container, #inventory-container {
    position: relative;
    display: none;
    flex-direction: column;
    align-items: center;
    height: 100%;
    width: 100%;
    padding-bottom: 80px;
  }
  #inventory-menu, #gear-menu {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    height: 100px;
    width: 100%;
    gap: 10px;
  }
  #gear-screen-container {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    width: 100%;
    max-width: 1700px;
    height: 100%;
    padding: 50px;
    padding-bottom: 80px;
  }
  #inventory-screen {
    position: relative;
    display: grid;
    grid-template-columns: repeat(auto-fill, 104px);
    grid-auto-flow: dense;
    padding: 0px 50px;
    padding-bottom: 80px;
    gap: 25px;
    overflow-y: auto;
    width: 100%;
    max-width: 1700px;
  }
  #gear-screen {
    position: relative;
    display: grid;
    grid-template-columns: repeat(auto-fill, 104px);
    padding: 10px 50px;
    padding-bottom: 80px;
    gap: 25px;
    height: 100%;
    overflow-y: auto;
    flex: 1;
  }
  #equipped-gear{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #242424;
    gap: 10px;
    padding: 10px 50px;
    width: 500px;
  }
  .row-2, .row-4 {
    padding: 0 70px;
  }
  .gear-row {
    display: flex;
    justify-content: center;
    gap: 15px;
    width: 100%;
  }
  .gear-slot-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 500px;
    height: 180px;
    position: relative;
  }
  .gear-slot, .gear-icon {
    width: 104px;
    height: 104px;
  }
  .gear-slot {
    background-color: black;
  }
  .gem-slot {
    margin-top: 5px;
    width: 64px;
    height: 64px;
    background-color: black;
  }
  .gem-icon {
    width: 64px;
    height: 64px;
    object-fit: contain;
  }
  .empty-slot {
    background-color: rgba(0, 123, 255, 0.3);
    border: 2px solid darkgray;
  }
  .empty-slot.gem-slot {
    border-radius: 50px;
  }
  .no-slot {
    margin-top: 25px;
    margin-bottom: 20px;
    border: 2px solid black;
    background-color: rgba(255, 0, 0, 0.3);
    width: 24px;
    height: 24px;
    border-radius: 15px;
  }
  .sort-button {
    border: 2px solid red;
    background-color: black;
    color: white;
    height:50px;
    width: 100px;
  }
  .sort-button:hover {
    background-color: gray;
  }
  .inventory-item, .gear-item {
    position: relative;
    width: 104px;
    height: 104px;
    background-color: black;
  }
  .inventory-hovername, .gear-hovername {
    display: none;
    justify-content: center;
    align-items: center;
    position: absolute;
    min-width: 135px;
    padding: 8px;
    font-size: 1rem;
    text-align: center;
    color: white;
    border: 1px solid white;
    background-color: black;
    z-index: 10;
    transform: translateX(-50%);
    left: 50%;
  }
  .inventory-item:hover .inventory-hovername, .gear-item:hover .gear-hovername {
    display: flex;
  }
  .qty-tag, .gear-tag {
    position:absolute;
    vertical-align: center;
    text-align: center;
    bottom: 5px;
    right: 5px;
    font-size: 1.2rem;
    width: fit-content;
    padding: 2px 5px;
    min-width: 25px;
    height: 25px;
    background-color: black;
    border: 1px solid white;
    color: white;
    z-index: 9;
  }


  /* Gear/Inventory Lightbox */
  #inlay-container {
    position: relative;
    height: 40px;
    width: 85px;
  }
  #inlay-gear-select {
    display: flex;
    flex-direction: column;
    position: absolute;
    bottom: 100%;
    transition: all 0.3s;
    left: 5px;
  }

  .item-displaybox {
    position: relative;
    min-width: 400px;
    max-width: 400px;
    min-height: 400px;
    max-height: 400px;
    background-color: #111;
    border: 1px solid white;
    padding: 0px;
    padding: 10px 30px;
    font-size: 1.2rem;
    text-align: center;
    flex-direction: column;
    color: white;
  }
  
  .item-slot {
    position: relative;
    min-width: 400px;
    max-width: 400px;
    min-height: 651px;
    max-height: 651px;
    background-color: #111;
    border: 1px solid white;
    padding: 0px;
    padding-top: 10px;
    font-size: 1.2rem;
    text-align: center;
    flex-direction: column;
    color: white;
  }
  .item-thumbnail {
    width: 106px;
    height: 106px;
    margin: 0 auto;
  }
  
  .item-name {
    font-size: 1.4rem;
    line-height: 1.3;
    font-family: PandoraDiamond;
    text-align: center;
    width: 80%;
    margin: 0.7rem auto 0 auto;
  }
  
  .badge-container {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 0 20px 0 20px;
  }
  
  .item-name-badge,
  .item-id-badge,
  .item-tier-badge,
  .item-gear-score-badge,
  .inactive-badge,
  .active-badge {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: PandoraDiamond;
    text-align: center;
    color: black;
    font-size: 16px;
    padding: 4px;
    margin: 0 0 8px 5px;
    max-width: fit-content;
  }
  
  .item-name-badge {
    background: #00bfff;
  }
  .item-id-badge {
    background: #ff4b4b;
  }
  .item-tier-badge {
    background: #2a944a;
  }
  .item-gear-score-badge {
    background: #E1A800;
  }
  .item-dmg-stat, .stat-message {
    color: white;
    text-align: left;
    width: 100%;
    padding: 0.3rem 0 0.3rem 10%;
  }
  .element-icons {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 20px;
    margin: 0 0 0.8rem 0;
  }
  
  .star-container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 32px;
    margin: 0 0 0.8rem 0;
    gap: 4px;
  }
  
  .star-container img {
    width: 26px;
    height: 26px;
  }
  .inactive-badge {
    background: rgba(255, 0, 0, 0.562);
  }
  .active-badge {
    background: rgba(94, 255, 0, 0.562);
  }
  .skill-slot {
    display: inline-block;
    text-align: left;
    width: 100%;
    padding: 0.3rem 0 0.3rem 10%;
  }
  
  .skill-slot:hover {
    background: var(--bg-gradient-secondary);
  }
  .item-class-thumbnail {
    position: absolute;
    top: 10px;
    left: 10px;
    height: 36px;
    width: 36px;
  }
  .icon-small {
    width: 32px;
    height: 32px;
  }

.tooltip {
  visibility: hidden;
  background-color: #000;
  color: white;
  border: 2px solid white;
  text-align: center;
  padding: 5px 10px;
  border-radius: 5px;
  margin-bottom: 10px;
  position: absolute;
  z-index: 5;
  opacity: 0;
  transition: opacity 0.4s ease-in-out;
  font-size: 1.1rem;
  transform: translateX(-50%);
  left: 50%;
}
.tooltip {
  width: 300px;
  bottom: 100%;
}

.stat-message:hover .tooltip, .element-icon-container:hover .tooltip {
  visibility: visible;
  opacity: 1;
}

.style-line {
  width: 80%;
  margin: 8px auto;
  height: 1px;
  background-color: rgba(255, 255, 255, 0.15);
}

.item-dmg-stat,
.stat-message {
  color: white;
  text-align: left;
  width: 100%;
  padding: 0.3rem 0 0.3rem 10%;
}

.filler-slot {
  color: white;
  text-align: center;
  width: 100%;
  padding: 0.3rem 0 0.3rem 10%;
}

.skill-slot {
  display: inline-block;
  text-align: left;
  width: 100%;
  padding: 0.3rem 0 0.3rem 10%;
}

.skill-slot:hover {
  background: var(--bg-gradient-secondary);
}

.tier-1,
.tier-1 span {
  color: #028a0f;
}
.tier-2,
.tier-2 span {
  color: #8080ff;
}
.tier-3,
.tier-3 span {
  color: #9b59b6;
}
.tier-4,
.tier-4 span {
  color: #007fff;
}
.tier-5,
.tier-5 span {
  color: #ffc609;
}
.tier-6,
.tier-6 span {
  color: #ffa6c9;
}
.tier-7,
.tier-7 span {
  color: #008080;
}
.tier-8,
.tier-8 span {
  color: #e8e8e8;
}
.tier-9,
.tier-9 span {
  color: #c20c0c;
}
.star-symbol{
  line-height: 0.6;
  color: black;
}
.symbol-height {
  line-height: 1;
}
/* MEDIA QUERIES */
@media (max-width: 2000px) {
  #bottom-menu {
    height: 140px;
    padding: 20px;
  }
  #bottom-menu a {
    font-size: 1.6rem;
    height: 60px;
    width: 130px;
  }
  #main-interface {
    height: 90%;
    gap: 25px;
  }
}

@media (max-width: 1600px) {
  #main-interface {
    width: 90%;
  }
}

@media (max-width: 900px) {
  #play-main {
    padding: 5px 10px;
  }
  #main-interface{
    padding-top: 5px;
  }
  #bottom-menu {
    flex-wrap: wrap;
    padding: 5px;
  }
  #bottom-menu a span{
    flex: 1 1 150px;
  }
}

