#backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.8);
    z-index: 1000;
    display: none;
}

.category-header {
    font-size: 1.4rem;
    color: #00BFFF;
}

.content-display {
    width: 70vw;
    height: 70vh;
    grid-template-columns: repeat(3, minmax(200px, 1fr));
    justify-items: center;
    align-items:center;
    max-width: 100%;
    gap: 20px;
    padding: 20px;
    overflow-y: auto;
    background-color: #222;
    color: #fff;
    border-radius: 8px;
    position: fixed;
    top: 15%;
    left: 15%;
    z-index: 1000;
    display: none;
}

.product-card {
    max-width: 300px;
    text-align: center;
    color: white;
}

.product-card img {
    border-radius:10px;
    width: 100%;
    height: auto;
    font-size: 1.2rem;
}
