/* Colour Palette
	#1a1a1a Dark Black
	#000 - Black
	#111 - Light Black
	#FFD700; - Yellow
	#9932CC - Dark Orchid - Brightest
	#9370DB - Medium Purple - Gentle
	#663399 - Rebecca Purple - Darkest
	#00BFFF - Deep Sky Blue
*/

/* Header Bar */
header {
	position: relative;
    color: #9932CC;
    padding: 0;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
	background-color: #000;
	height: 70px;
	width: 100%;
	z-index: 9999;
}

header nav, header div {
	padding: 0px 0px;
	flex-grow: 1;
}
header .logo {
	padding: 12px;
}

.logo h1 {
	display: flex;
    align-items: center;
	font-family: PandoraDiamond;
	font-size: 40px;
}

.logo a {
	display: flex;
	align-items: center;
	text-decoration: none;
	color: #9932CC;
	text-shadow: 1px 1px #00BFFF;
}

header .logo a:hover {
	cursor:pointer;
}

.logo a img {
    height: 54px;
    margin-right: 10px;
}

nav ul {
    list-style: none;
    padding: 0;
    display: flex;
    margin: 0;
}

nav ul li a {
    color: #9932CC;
}

nav ul li a.selected, nav ul li a:hover {
	color: #00BFFF;
}

a {
	text-decoration: none;
}

/* Main Page Select */
#main-select {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
	align-items: center;
    background-color: #000;
    color: white;
    padding: 20px;
	height: 100%;
	width: 320px;
	flex-shrink: 0;
    flex-grow: 0; 
}

#tarot-cyclic{
	width: 270px;
	height: 410px;
	background-size: 100% 100%;
	-webkit-transition: all .3s ease-in-out;
	-moz-transition: all .3s ease-in-out;
	transition: all .3s ease-in-out;
}

.default-banner {
	background-image: url("./images/spatialBG.webp");
	background-size: cover;
}

.inner-content {
	height: 100%;
	width: 100%;
}

.pandora-header a img{
	height: 72px;
}

#page-select ul{
	display:flex;
	flex-direction: column;
	justify-content: space-around;
}

#footer {
    text-align: center;
    width: 100%;
    bottom: 0;
	height: 85px;
}

.copyright {
    color: #fff;
	width: 180px;
    margin: auto;
	line-height: 1.2;
}

/* Grids Disabled

.img-grid-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  grid-gap: 15px;
  padding: 15px;
}

.img-grid-item {
  background-color: rgba(17, 17, 17, 0.4);
  text-align: center;
}

.img-portrait {
	width: 400px;
	height: 600px;
	grid-row: span 3;
	grid-column: span 2;
}

.img-landscape {
	width: 600px;
	height: 400px;
	grid-row: span 2;
	grid-column: span 3;
}

.img-square {
	width: 400px;
	height: 400px;
	grid-row: span 2;
	grid-column: span 2;
}

.img-portrait img{
	width: 400px;
	height: 600px;
}
.img-landscape img{
	width: 600px;
	height: 400px;
}
.img-square img{
	width: 400px;
	height: 400px;
} */

/* Page Nav */
#page-nav{
	display: flex;
    justify-content: flex-end;	
}

#page-nav ul li a {
    display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
    padding: 5px 10px;
	height: 70px;
	width: 100px;
    color: #00BFFF;
    text-decoration: none;
    border-left: 1px solid #00BFFF;
    font-weight: bold;
}

#page-nav ul li:first-child a {
    border-left: none;
}

#page-nav ul li a:hover {
    background: linear-gradient(to bottom, #000, #00BFFF);
    color: #000;
}

#page-nav ul li .selected {
    background: linear-gradient(to bottom, #000, #00BFFF);
    color: #000;
}

#page-nav ul li a {
    transition: background 0.4s ease, color 0.4s ease;
}

/* Default */

@font-face {
  font-family: 'PandoraDiamond';
  src: url('./font/PandoraDiamond/PandoraDiamond.woff2') format('woff2'),
       url('./font/PandoraDiamond/PandoraDiamond.woff') format('woff');
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
	text-decoration: none;
}

*:focus{
	outline: none;
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
	background-image: url("./images/spatialBG.webp");
	background-size: 100% 100%;
    color: #9932CC;
}

main {
	position: relative;
    border-radius: 5px;
	height: calc(100vh - 155px);
}

#homepage {
	height: 100vh;
	display: flex;
}

.no-footer {
	height: calc(100vh - 70px);
}
	
h3 {
	color: #00BFFF;
}

.content-container {
	padding-top: 10px;
    display: flex;
	overflow-y: auto;
	height: calc(100vh - 70px);
}

.style-line {
	width: 80%;
	margin: 2px auto;
	height: 1px;
	background-color: #00BFFF;
}

::-webkit-scrollbar {
    width: 12px;
}

::-webkit-scrollbar-track {
    background: #111;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    background: #9932CC;
    border-radius: 10px;
    border: 3px solid #111;
}

::-webkit-scrollbar-thumb:hover {
    background: #00BFFF;
}

html {
    scrollbar-width: thin;
    scrollbar-color: #9932CC #111;
	background-color: #111;
}

.class-icon {
	max-width: 48px;
    max-height: 48px;
}

.tooltip {
    visibility: hidden;
    background-color: #000;
    color: #00BFFF;
	border: 2px solid #00BFFF;
	width: 175px;
    text-align: center;
    padding: 5px 10px;
    border-radius: 5px;
	margin-bottom: 10px;
    position: absolute;
    z-index: 5;
    bottom: 100%;
    left: 50%;
    transform: translateX(-50%);
    opacity: 0;
    transition: opacity 0.4s ease-in-out;
}

.skill-tooltip {
	visibility: hidden;
    background-color: #000;
    color: #00BFFF;
	border: 2px solid #00BFFF;
	width: 175px;
    text-align: center;
    padding: 5px 10px;
    border-radius: 5px;
	margin-bottom: 10px;
    position: absolute;
    z-index: 20;
    bottom: 100%;
    left: 50%;
    transform: translateX(-50%);
    opacity: 0;
    transition: opacity 0.4s ease-in-out;
}
	
/* Suckerfish Dropdown */
#primary-nav{
	display: flex;
	justify-content: center;
	position: absolute;
	top: 0;
	left: 50%;
	transform: translateX(-50%);
	height: 70px;
	align-items: center;
	opacity: 0;
	animation: fadeIn 0.4s forwards ease-in-out;
}

.sf-menu {
    list-style: none;
    padding: 0;
    margin: 0;
}

.sf-menu li {
    position: relative;
    display: inline-block;
    width: 100px;
	margin-top: 0;
    margin-bottom: 0;
	border-radius: 10px;
    text-align: center;
}

.sf-menu li a {
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
	height: 40px;
    text-decoration: none;
    background-color: #000;
    transition: all 0.4s, color 0.4s;
}

.sf-menu li:hover > a,
.sf-menu li.sfHover > a {
    background-color: #00BFFF;
	text-shadow: none;
    color: #000;
	box-shadow: 0px 6px 8px rgba(0, 0, 0, 0.5); 
	transform: translateY(-2px);
}

.sf-menu li ul {
    position: absolute;
    top: 100%;
    left: 0;
    background-color: #111;
    width: 100px;
    display: none;
    opacity: 0;
    transform: translateY(-10px);
    transition: all 0.4s ease-in-out;
    z-index: 99;
    visibility: hidden;
}

.sf-menu li:hover ul,
.sf-menu li.sfHover ul {
    display: block;
    opacity: 1;
    transform: translateY(0);
    visibility: visible;
}

.primary-option {
	margin: 0 5px;
}

.primary-option a {
    background-color: #000;
    color: #00BFFF;
	text-shadow: 1px 1px 0 #9932CC;
    font-weight: bold;
	position: relative;
	z-index: 100;
	border-radius: 3px;
	border: 1px solid #9932CC;
}

.primary-option a.active {
    background-color: #00BFFF;
    color: #000;
	text-shadow: none;
    font-weight: bold;
}

.primary-option a:hover {
    background-color: #00BFFF;
    color: #000;
	text-shadow: none;
}
.sub-option {
	margin: 0;
}
.sub-option .sub-a {
    padding: 5px 0;
    color: #00BFFF;
	text-shadow: none;
}

.sf-option .sub-a:hover {
    background-color: #00BFFF;
    color: #000;
	transform: translateY(-2px);
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.3);
}

/* Banners */
#banner-container {
	flex-grow: 1;
    display: flex;
    justify-content: center;
    align-items: center;
	height: 100%;
	width: 100%;
	overflow: hidden;
}

#banner-content {
	width: 100%;
    height: 100%;
	opacity: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.banner-image {
    width: 100%;
    height: 100%;
	margin: 0;
	padding: 0;
}

/* Animation */
.fade {
	opacity: 0;
    transition: opacity 0.2s ease-in-out;
}

.show-content {
    opacity: 1;
    transition: opacity 0.2s ease-in-out;
}

@keyframes fadeIn {
    from {opacity: 0} 
    to {opacity: 1}
}

/* Character Page */
#primary-nav form {
    display: flex;
    align-items: center;
}

.character-flex {
	display: flex;
	max-width: 2200px;
	margin: 0 auto;
	flex-direction: column;
	justify-content: space-evenly;
}

.top-container, .bottom-container {
	display: flex;
	width: 100%;
	padding-bottom: 20px;
	padding-left: 20px;
	padding-right: 20px;
}

.top-container {
	padding-top: 30px;
	max-height: 525px;
}

input[type="text"] {
    background-color: #111;
    color: #00BFFF;
    border: 1px solid #9932CC;
    margin-right: 10px;
    padding: 10px;
    border-radius: 5px;
    width: 300px;
}

.input-button {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    background-color: #111;
    font-weight: bold;
    color: #00BFFF;
    border: 1px solid #9932CC;
    margin: 0 5px;
    width: 110px;
    padding: 10px;
    border-radius: 5px;
    height: 40px;
    text-decoration: none;
    transition: background-color 0.3s, color 0.3s;
}

.input-button:hover {
    background-color: #00BFFF;
    color: #000;
    font-weight: bold;
    cursor: pointer;
}

.input-button.active {
    background-color: #00BFFF;
    color: #000;
    font-weight: bold;
}

input::placeholder {
	color: #9370DB;
}

input:focus{
	border-color: #00BFFF;
	outline: none;
}

#player-info {
	display: flex;
	flex-direction: column;
	height: 100%;
	min-width: 471px;
	position: relative;
	border: 2px solid #9932CC;
}

#stat-info {
	display: flex;
	justify-content: space-evenly;
}

#defensive-stats {
	padding: 20px;
	padding-top: 5px;
    border: 2px solid #00BFFF;
    height: 380px;
    margin: 10px;
    margin-top: 5px;
    width: 385px;
}

#float-box {
	position: absolute;
    right: 35px;
    top: 332px;
    display: block;
    border: 2px solid #A10B0B;
    color: #A10B0B;
    font-size: 20px;
    text-align: center;
    width: 170px;
    height: 80px;
}

.unconditional {
	color: #A10B0B;
}

.enhance-text {
	font-weight: bold;
	text-shadow: 1px 1px red;
    font-size: 26px;
	line-height: 1.2;
}

/* Character Section */
#character-section, #character-section-visible {
	flex-grow: 1;
	height: 100%;
	min-width: 471px;
	max-width: 750px;
}

#character-section-visible {
	background-color: #111;
}

#stat-section {
	padding: 5px 20px;
	border: 2px solid #00BFFF;
    height: 100%;
    margin: 10px;
}

.class-text{
	font-size: 32px;
	margin-left: 10px;
    display: inline;
}

.overlay-text{
	text-shadow: 1px 1px 0 #9932CC;
}

.center-msg {
	position: fixed;
	top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
	background-color: rgba(17, 17, 17, 0.7);
	border: 2px solid #00BFFF;
	padding-right: 5px;
}

#character-name-section {
	height: 53px;
    padding-bottom: 3px;
	margin: 0 auto;
	display: flex;
    align-items: center;
}

#character-name-section h1{
	font-size: 40px;
	font-weight: normal;
	text-wrap: nowrap;
	margin: 0px;
	margin-left: 10px;
	color: #00BFFF;
	text-shadow: 2px 2px 0 #9932CC;
	font-family: PandoraDiamond;
}

#exp-section, #spread-section {
	margin: 0 auto;
}

#exp-section .exp-bar {
	display: flex;
	padding: 0;
	position: relative;
}
#exp-section .exp-bar .tooltip {
	width: 400px;
	display: flex;
	justify-content: space-evenly;
	align-items: center;
	margin-bottom: 2px;
}
#exp-section .exp-bar .tooltip .highlight {
	font-size: 20px;
	font-weight: bold;
}

#exp-section .exp-bar img {
	max-height: 24px;
	max-width: 24px;
	text-wrap: nowrap;
}

#coin-section {
	display: flex;
    align-items: center;
}

.coin-icon {
	max-width: 36px;
	max-height: 36px;
	margin-right: 5px;
}

.elemental-bar {
    display: flex;
    height: 16px;
    background: linear-gradient(to right, #d8d8d8, #c0c0c0, #a8a8a8);
	padding: 2px;
	width: 358px;
    border-radius: 15px;
	margin: auto;
}

.element-segment:hover .tooltip, .skill-circle:hover .tooltip, .skill-circle:hover .tooltip-lower, 
.exp-bar:hover .tooltip, .skill-slot:hover .skill-tooltip, .stat-message:hover .skill-tooltip,
.element-icon-container:hover .skill-tooltip {
    visibility: visible;
    opacity: 1;
}

.element-segment .tooltip {
    display:flex;
	justify-content: center;
	width: 200px;
}

.elemental-bar .start {
	border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
}
.elemental-bar .end {
	border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
}

.Celestial {
    background: linear-gradient(145deg, #B399FF, #C7A6FF 50%, #D1C4FF);
}

.Earth {
    background: linear-gradient(145deg, #A0522D, #D2691E 50%, #8B4513);
}

.Fire {
    background: linear-gradient(145deg, #FF4500, #D72A1A 50%, #9B111E);
}

.Ice {
    background: linear-gradient(145deg, #00BFFF, #55B3FF 50%, #ADD8E6);
}

.Light {
    background: linear-gradient(145deg, #FFF, #FFFFF5 50%, #FFFFF0);
}

.Lightning {
    background: linear-gradient(145deg, #FFD700, #FFB300 50%, #FFC300);
}

.Shadow {
    background: linear-gradient(145deg, #2F2F2F, #4A4A4A 50%, #696969);
}

.Water {
    background: linear-gradient(145deg, #1E90FF, #0057E7 50%, #4169E1);
}

.Wind {
    background: linear-gradient(145deg, #7FFFD4, #57EFA0 50%, #228B22);
}

.eleBox-Celestial {
    color: #9932CC;
	border: 2px solid #9932CC;
}
.eleBox-Earth {
    color: #A0522D;
	border: 2px solid #A0522D;
}
.eleBox-Fire {
    color: #FF4500;
	border: 2px solid #FF4500;
}
.eleBox-Ice {
    color: #00BFFF;
	border: 2px solid #00BFFF;
}
.eleBox-Light {
    color: #fff;
	border: 2px solid #fff;
}
.eleBox-Lightning {
    color: #FFD700;
	border: 2px solid #FFD700;
}
.eleBox-Shadow {
    color: #C0C0C0;
	border: 2px solid #C0C0C0;
}
.eleBox-Water {
    color: #1E90FF;
	border: 2px solid #1E90FF;
}
.eleBox-Wind {
    color: #7FFFD4;
	border: 2px solid #7FFFD4;
}

.element-segment {
    position: relative;
}

.tooltip-icon {
	width: 24px;
    height: 24px;
    margin: 0 10px;
}

#skill-points-section {
    display: flex;
    justify-content: space-around;
    margin-top: 10px;
    padding: 10px 20px;
	margin-top: auto;
	color: #fff;
}

.element-segment:hover .glyph-span {
    visibility: visible;
    opacity: 1;
}

.glyph-name {
	font-family: PandoraDiamond;
	text-shadow: 1px 1px 0 #9932CC;
}

.skill-circle {
    width: 50px;
    height: 50px;
    border-radius: 50%;
	position: relative;
	display: flex;
    align-items: center;
    justify-content: center;
	background-color: #fff;
}

.inner-skill-circle {
	width: 90%;
	height: 90%;
	top: 50%;
	left: 50%;
	position:absolute;
	transform: translate(-50%, -50%);
	border-radius: 50%;
	background-color: #444;
	color: #fff;
	display: flex;
	align-items: center;
    justify-content: center;
    font-size: 16px;
    font-weight: bold;
	z-indeX: 6;
}

.tooltip-lower {
    visibility: hidden;
    background-color: #000;
    color: #00BFFF;
    border: 2px solid #00BFFF;
    width: 280px;
    text-align: center;
    padding: 5px 10px;
    border-radius: 5px;
    margin-top: 10px;
    position: absolute;
    z-index: 5;
    top: 100%;
    left: 50%;
    transform: translateX(-50%);
    opacity: 0;
    transition: opacity 0.4s ease-in-out;
}

.side-box {
    position: absolute;
    left: 100%;
    top: 0;
    margin-left: 10px;
    background-color: #000;
    padding: 5px 10px;
    border-radius: 5px;
    visibility: hidden;
    opacity: 0;
    transition: opacity 0.4s ease-in-out;
    z-index: 5;
    white-space: nowrap;
}

#char-nav-buttons {
    display: flex;
	flex-direction: column;
    justify-content: space-around;
    align-items: center;
    padding: 0;
	margin-top: 0;
	padding-left: 10px;
	padding-right: 5px;
}

#char-nav-buttons .char-nav-button {
    font-size: 16px;
	display: flex;
	align-items: center;
	justify-content: center;
	text-align: center;
    background-color: #111;
	font-weight: bold;
    color: #00BFFF;
    border: 1px solid #9932CC;
	width: 100%;
    padding: 3px;
	width: 75px;
	height: 75px;
	text-decoration: none;
	transition: background-color 0.3s, color 0.3s;
}

#char-nav-buttons .char-nav-button:hover {
	background-color: #00BFFF;
    color: #000;
	font-weight: bold;
}

#char-nav-buttons .current-button {
	background-color: #00BFFF;
    color: #000;
	font-weight: bold;
}

#char-nav-buttons .current-button:hover {
	cursor: not-allowed;
}

.char-nav-hover:hover {
    background-color: #00BFFF;
    color: #000;
	font-weight: bold;
	cursor: pointer;
}

/* Char Detail Pages */

.total-box {
	display:flex;
	align-items:center;
	gap:10px;
}

#resistance-box {
	display: flex;
    flex-direction: column;
}

.element-section {
	border-radius: 10px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 2px 8px;
	margin: 2px 20px;
}

#detail-container {
	display: flex;
	justify-content: space-between;
}
	
#detail-box {
	position: relative;
	display:flex;
	flex-direction: column;
	justify-content: space-between;
}

#side-detail-box {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	min-width: 375px;
	max-width: 450px;
	width: 100%;
    margin: 3px 10px;
}

.side-detail-list {
	height: 100%;
	padding: 10px;
    display: none;
}

.side-detail-list-active {
    display: block;
}

.detail-section {
	width: 160px;
}

.detail-section::after {
	display: none;
    content: "";
    position: absolute;
    right: -5px;
    width: 0;
    height: 0;
    border: 10px solid currentColor;
    border-right: 10px solid transparent;
    border-top: 10px solid transparent;
	border-bottom: 10px solid transparent;
}

.detail-section.active::after {
    display: block;
}

.element-section:hover {
	background-color: #111;
}

.detail-item {
	min-width: 80px;
}

.inactive-element {
	opacity: 0.4;
}

.elemental-highlight-Wind {
    color: #7FFFD4;
    font-size: 20px;
}

.elemental-highlight-Earth {
    color: #A0522D;
    font-size: 20px;
}

.elemental-highlight-Fire {
    color: #FF4500;
    font-size: 20px;
}

.elemental-highlight-Ice {
    color: #00BFFF;
    font-size: 20px;
}

.elemental-highlight-Light {
    color: #FFF;
    font-size: 20px;
}

.elemental-highlight-Lightning {
    color: #FFD700;
    font-size: 20px;
}

.elemental-highlight-Shadow {
    color: #C0C0C0;
    font-size: 20px;
}

.elemental-highlight-Water {
    color: #1E90FF;
    font-size: 20px;
}

.elemental-highlight-Celestial {
    color: #B399FF;
    font-size: 20px;
}

.breakdown-icon {
	width: 32px;
    height: 32px;
}

/* Application Display */
.application-section {
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2px 8px;
    margin: 2px 20px;
    background-color: #1a1a1a;
    border: 2px solid #00BFFF;
}

.appBox-Elemental {
    color: #00BFFF; /* Deep Sky Blue */
    border: 2px solid #00BFFF;
}

.appBox-Critical {
    color: #FFD700; /* Yellow */
    border: 2px solid #FFD700;
}

.appBox-Bleed {
    color: #FF4500; /* Orange-Red */
    border: 2px solid #FF4500;
}

.appBox-Ultimate {
    color: #9370DB; /* Medium Purple */
    border: 2px solid #9370DB;
}

.appBox-Mana {
    color: #1E90FF; /* Dodger Blue */
    border: 2px solid #1E90FF;
}

.appBox-Temporal {
    color: #8A2BE2; /* Blue Violet */
    border: 2px solid #8A2BE2;
}

.appBox-Combo {
    color: #7FFFD4; /* Aquamarine */
    border: 2px solid #7FFFD4;
}

.appBox-Aqua {
    color: #00CED1; /* Dark Turquoise */
    border: 2px solid #00CED1;
}

.appBox-Life {
    color: #FF69B4; /* Hot Pink */
    border: 2px solid #FF69B4;
}

.appli-highlight-Elemental {
    color: #00BFFF; /* Deep Sky Blue */
    font-size: 20px;
}

.appli-highlight-Critical {
    color: #FFD700; /* Yellow */
    font-size: 20px;
}

.appli-highlight-Bleed {
    color: #FF4500; /* Orange-Red */
    font-size: 20px;
}

.appli-highlight-Ultimate {
    color: #9370DB; /* Medium Purple */
    font-size: 20px;
}

.appli-highlight-Mana {
    color: #1E90FF; /* Dodger Blue */
    font-size: 20px;
}

.appli-highlight-Temporal {
    color: #8A2BE2; /* Blue Violet */
    font-size: 20px;
}

.appli-highlight-Combo {
    color: #7FFFD4; /* Aquamarine */
    font-size: 20px;
}

.appli-highlight-Aqua {
    color: #00CED1; /* Dark Turquoise */
    font-size: 20px;
}

.appli-highlight-Life {
    color: #FF69B4; /* Hot Pink */
    font-size: 20px;
}

/* Special Info Section */
#special-info {
	flex: 2;
	display: flex;
}

/* Equipment Items */
.equipped-items {
    display: flex;
	flex-grow: 1;
    flex-wrap: nowrap;
	justify-content: space-between;
    gap: 10px;
	height: 100%;
}

.equipped-misc {
    display: flex;
	flex-grow: 1;
    flex-wrap: nowrap;
	justify-content: flex-end;
	align-items:center;
    gap: 10px;
	height: 100%;
}

.item-name {
	color: #00BFFF;
	font-size: 16px;
	line-height: 1.3;
	text-shadow: 1px 1px 0 #9932CC;
	font-family: PandoraDiamond;
}

.item-slot {
	position: relative;
	min-width: 300px;
	max-width: 300px;
	min-height: 465px;
	max-height: 465px;
	background-color: #111;
    border: 1px solid #9932CC;
	padding: 0px;
	padding-top: 10px;
	font-size: 14px;
    text-align: center;
	display: flex;
	flex-direction: column;
	color: #00BFFF;
}

.item-class-thumbnail {
	position: absolute;
	top: 10px;
	left: 10px;
	height: 36px;
	width: 36px;
}

.item-slot div img, .item-slot img, #tarot-star-display img, #tarot-card-section img{
	opacity: 0;
	animation: fadeIn 0.4s forwards ease-in-out;
}

.toggle-button {
	display: flex;
	align-items: center;
	justify-content: center;
	text-align: center;
    background-color: #111;
	font-weight: bold;
    color: #00BFFF;
    border: 1px solid #9932CC;
	width: 100%;
    padding: 5px;
	margin-top: 5px;
	height: 24px;
	text-decoration: none;
	transition: background-color 0.3s, color 0.3s;
}

.toggle-hover:hover {
    background-color: #00BFFF;
    color: #000;
	font-weight: bold;
	cursor: pointer;
}

.item-thumbnail {
    width: 106px;
    height: 106px;
    display: block;
    margin: 0 auto 0;
}

.empty-socket {
    background-color: #111;
    cursor: not-allowed;
}

.skill-slot{
	padding-left: 10px;
	padding-right: 10px;
}

.skill-slot:hover {
	background-color: #2e2e2e;
}

.weapon-slot {
    order: -1;
}

.element-icons {
	display: flex;
    align-items: center;
    justify-content: center;
	height: 28px;
	margin-top: 4px;
    margin-bottom: 2px;
}

.star-image, .element-icon {
    width: 26px;
    height: 26px;
    margin: 5px 0 2px;
}

.star-container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.star-container .star-image {
	margin-top: 0px;
}

/* Tarot Section */
#tarot-card {
	height: 465px;
}
.tarot-image {
	height: 100%;
    width: 100%;
    object-fit: contain;
}

@media screen and (max-width: 2200px) {
	#character-section {
		max-width: 650px;
	}
	.character-flex {
		max-width: 1850px;
	}
	.element-section {
		margin: 2px 5px;
		font-size: 14px;
	}
	.detail-section::after {
		right: -18px;
	}
	#character-name-section h1, .class-text {
		font-size: 34px;
	}
	#defensive-stats {
		width: 380px;
	}
	.star-image, .element-icon{
		width: 22px;
		height: 22px;
		margin-left: 1px;
		margin-right: 0px;
	}
	.element-icons {
		height: 28px;
	}
	.item-thumbnail {
		width: 72px;
		height: 72px;
	}
	.item-name {
		line-height: 1.2;
		font-size: 14px;
	}
	.item-slot {
		max-width: 240px;
        min-width: 240px;
		font-size: 12px;
	}
}

@media screen and (max-width: 1800px) {
	.star-image, .element-icon{
		width: 18px;
		height: 18px;
		margin-left: 1px;
		margin-right: 0px;
	}
	#tarot-card {
		height: 380px;
	}
	.item-slot {
		max-width: 210px;
        min-width: 210px;
	}
	#char-nav-buttons {
		padding-left: 5px;
		padding-right: 5px;
	}
	#char-nav-buttons .char-nav-button {
		width: 62px;
		height: 62px;
		font-size: 14px;
	}
	#page-nav ul li, #page-nav ul li a {
		width: 70px;
		font-size: 14px;
	}
}

@media screen and (max-height: 1200px) {
	.top-container, .bottom-container {
		padding-bottom: 5px;
	}
	.top-container {
		padding-top: 0;
		align-items: center;
		min-height: 465px;
		max-height: 465px;
	}
	.item-slot {
		min-height: 380px;
		max-height: 380px;
	}
}

@media screen and (max-height: 930px) {
	.content-container {
		padding-top: 2px;
	}
	.top-container{
		height: 380px;
		max-height: 380px;
		min-height: 380px;
	}
	.bottom-container {
		height: 330px;
		max-height: 333px;
		min-height: 333px;
	}
	#character-section {
		max-width: 571px;
	}
	#character-name-section h1, .class-text {
		font-size: 24px;
	}
	#player-info, #player-info h3 {
		font-size: 18px;
	}
	.total-box img {
		height: 22px;
		width: 22px;
	}
	.class-icon {
		max-width: 32px;
		min-width: 32px;
	}
	.item-class-thumbnail {
		height: 24px;
		width: 24px;
		top: 2px;
		left: 2px;
	}
	.item-thumbnail {
		height: 54px;
		width: 54px;
	}
	.element-section {
		margin: 1px 5px;
	}
	.total-box h1, .element-section h1{
		font-size: 16px;
	}
	#tarot-cyclic {
		width: 220px;
	}
	.tooltip-lower{
		line-height: 1.3;
	}
	#defensive-stats {
		height: 300px;
		width: 350px;
	}
	.item-slot {
		padding-top: 2px;
		min-height: 330px;
        max-height: 330px;	
	}
	.skill-slot {
		padding-left: 5px;
		padding-right: 5px;
		line-height: 1.4;
	}
	.element-icons {
		height: 24px;
	}
	.toggle-button {
		margin-top: 0px;
	}
}


/* Gallery */
#shop-link {
	margin: 10px auto;
    display: none;
}

#gallery-glass {
	/*background-color: rgba(17, 17, 17, 0.3);*/
	display: flex;
	padding-top: 20px;
	padding-bottom: 40px;
	padding-left: 20px;
}

#gallery-content {
	display: flex;
	flex-grow: 1;
	flex-direction: column;
	padding-top: 15px;
	background-color: #111;
	border: 2px solid #00BFFF;
}

#preview-box {
	position: relative;
	background-color: #111;
    width: 600px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-auto-rows: 140px;
    gap: 5px;
    overflow-y: auto;
    padding: 0;
    
}

#info-box {
	margin-top: auto;
	position: relative;
	bottom: 0;
	left: 0;
	right: 0;
    /* background-color: rgba(17, 17, 17, 0.7); */
	background-color: #111;
    color: #00BFFF;
	padding: 0px;
	padding-top: 10px;
    max-width: 100%;
    text-align: center;
}

.gallery-image {
    max-width: 100px;
    height: auto;
	margin: auto;
    border: 2px solid #9932CC;
    cursor: pointer;
	box-sizing: border-box;
	background-color: rgba(17, 17, 17, 0.7);
}

.gallery-image:hover {
    border-color: #00BFFF;
	box-shadow: #00BFFF 0 0 10px 2px;
}

.selected-preview {
    border: 2px solid #00BFFF;
    box-shadow: 0 0 10px 2px #00BFFF;
}

#image-name {
	text-shadow: 2px 2px 0 #9932CC;
	margin-top: 2px;
	margin-bottom: 2px;
}

#image-dimensions {
	margin-top: 2px;
	margin-bottom: 2px;
}

.ease-load {
	opacity: 0;
	animation: fadeIn 0.5s forwards ease-in-out;
}

.color-bar {
	margin-top: 10px;
    display: flex;
    justify-content: center;
}

.color-button {
    width: 20px;
    height: 20px;
    margin: 0 5px;
	border-radius: 50%;
    border: 2px solid darkgray;
    cursor: pointer;
    background-color: white;
}

.color-button[data-color="#FFFFFF"] {
    background-color: #FFFFFF;
}

.color-button[data-color="#000000"] {
    background-color: #000000;
}

.color-button[data-color="#8B0000"] {
    background-color: #8B0000;
}

.color-button[data-color="#1A2E5C"] {
    background-color: #1A2E5C;
}

.color-button[data-color="#006400"] {
    background-color: #006400;
}

.color-button[data-color="#4B0082"] {
    background-color: #4B0082;
}

.color-button.selected {
    border: 2px solid #00BFFF;
}

.info-box h2, .info-box p, .info-box a {
    margin: 5px 0;
}

.image-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    position: relative;
}

.loading-spinner {
    border: 4px solid #00BFFF;
    border-top: 4px solid #9932CC;
	background: #fff;
    border-radius: 50%;
    width: 24px;
    height: 24px;
    animation: spin 1s linear infinite;
    position: absolute;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

.fullsize-container {
	width: 100%;
    display: flex;
    height: 100%;
    padding: 40px 60px;
	padding-top: 20px;
	/*background-color: rgba(17, 17, 17, 0.3);*/
}

#fullsize-image {
	min-width: 400px;
    width: auto;
    background-color: #000;
	image-rendering: auto;
    display: flex;
	flex: 2;
    justify-content: center;
    align-items: center;
	border: 2px solid #00BFFF;
}

#fullsize-image img {
	height: auto;
    max-width: 80%;
    max-height: 80%;
    object-fit: contain;
}

#fullsize-image img:hover {
	cursor: pointer;
}

#expand-button {
	border: 1px solid #00BFFF;
	border-bottom: none;
	
}

/* Tables */
.rank-table {
    margin-top: 20px;
}

table {
    width: 100%;
    border-collapse: collapse;
    text-align: left;
	font-family: PandoraDiamond;
}

th {
    padding: 5px;
	background-color: #000;
	font-size: 20px;
	text-align: center;
	color: #00BFFF;
	text-shadow: 2px 2px 0 #9932CC;
}

th div {
	height: 40px;
	border-bottom: 3px solid #9932CC;
	vertical-align: bottom;
}

thead tr{
	height: 30px;
}

tr {
	padding: 0;
    border-bottom: 1px solid #ddd;
    background-color: #1e1e1e;
	font-size: 24px;
	height: 70px;
	border-bottom: none; 
}

tr:hover {
    background-color: #2e2e2e;
}

td {
	text-align: center;
	padding: 0;
	height: 70px;
}

.button-cell {
    align-items: center;
	justify-content: center;
	text-align: center;
}

.button-cell div {
	display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.icon-cell div{
	height: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.icon-cell div img{
	height: 64px;
}


.multi-icon-cell div{
	height: 40px;
    display: flex;
	gap: 2px;
    align-items: center;
    justify-content: center;
}

.multi-icon-cell div img{
	height: 36px;
}


.highlight-row {
    background-color: #2e2e2e;
    font-weight: bold;
}

/* Leaderboard */
.leaderboard-container {
	flex: 2;
	margin: 0 auto;
	max-width: 70%;
    min-width: 20%;
	animation: fadeIn 0.4s forwards ease-in-out;
}

.rank-icon-1 {
	max-width: 64px;
    max-height: 64px;
}

.rank-icon-2 {
	max-width: 54px;
    max-height: 54px;
}

.rank-icon-3 {
	max-width: 44px;
    max-height: 44px;
}

/* Wiki */
#wiki-content {
	margin: 0 auto;
    max-width: 70%;
    min-width: 20%;
	
}

#wiki-content table tbody td{
	padding-left: 25px;
	padding-right: 25px;
	text-align:center;
	height: 35px;
	font-size: 20px;
}

#wiki-content table tbody tr{
	padding-left: 25px;
	padding-right: 25px;
	text-align:center;
	height: 35px;
	border-top: 1px solid #111;
}

#wiki-content table thead tr th div{
	padding-left: 5px;
	padding-right: 5px;
    text-wrap: nowrap;
}

.search-category h3 {
	text-align: center;
	border-radius: 10px;
	background-color: #000;
	border: 1px solid #00BFFF;
	margin-top: 5px;
	margin-bottom: 5px;
}

.search-category {
	padding-bottom:5px;
}

.filter-section {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}

#filter-category {
    padding: 10px;
    border: 1px solid #9932CC;
    border-radius: 5px;
    color: #9932CC;
    background-color: #111;
}

.top-gap {
	display:block;
	padding-bottom: 20px;
	width:100%;
}

.bottom-gap {
	display:block;
	padding-bottom: 20px;
	width:100%;
}

.tier-1, .tier-1 td {
	color: #028A0F;
}

.tier-2, .tier-2 td {
	color: #8080FF;
}

.tier-3, .tier-3 td {
	color: #9B59B6;
}

.tier-4, .tier-4 td {
	color: #007FFF;
}

.tier-5, .tier-5 td {
	color: #FFC609;
}

.tier-6, .tier-6 td {
	color: #FFA6C9;
}

.tier-7, .tier-7 td {
	color: #008080;
}

.tier-8, .tier-8 td {
	color: #E8E8E8;
}

.tier-9, .tier-9 td {
	color: #C20C0C;
}	

.bonus:hover {
	background-color: #1A1F1A;
}

.penalty:hover {
	background-color: #211A1A;
}

.inner-skill-circle .ultra, .ultra td{
	background: linear-gradient(to right, #b87333, #cd7f32, #a97142, #804a00);
	background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
}

.inner-skill-circle .uber, .uber td{
	background: linear-gradient(to right, #C0C0C0, #D4D4D4, #E8E8E8, #F2F2F2);
	background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
}

.inner-skill-circle .ultimate, .ultimate td{
	background: linear-gradient(to right, #FFD700, #FFC300, #FFB300, #FFA500, #FF8C00);
	background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
}

.skill-circle.tier-1{
	background-color: #028A0F;
}
.skill-circle.tier-2{
	background-color: #8080FF;
}
.skill-circle.tier-3{
	background-color: #9B59B6;
}
.skill-circle.tier-4 {
	background-color: #007FFF;
}
.skill-circle.tier-5 {
	background-color: #FFC609;
}
.skill-circle.tier-6{
	background-color: #FFA6C9;
}
.skill-circle.tier-7{
	background-color: #008080;
}
.skill-circle.tier-8 {
	background-color: #E8E8E8;
}
.skill-circle.tier-9 {
	background-color: #C20C0C;
}	
.skill-circle.ultra {
	background: linear-gradient(to right, #b87333, #cd7f32, #a97142, #804a00);
}
.skill-circle.uber {
	background: linear-gradient(to right, #FFD700, #FFC300, #FFB300, #FFA500, #FF8C00);
}
.skill-circle.ultimate {
	background: linear-gradient(to right, #FFD700, #FFC300, #FFB300, #FFA500, #FF8C00);
}
.rare-skill, .command-column {
	color: #C20C0C;
}

.store-button {
	text-decoration: none;
	color: #9932CC;
}

/* Special buttons */
.small-button {
	width: 120px;
	height: 40px;
	margin-top: 5px;
}

.medium-button {
	width: 200px;
	height: 45px;
	margin-top: 10px;
}

.large-button {
	width: 250px;
	height: 70px;
	font-size: 30px;
	margin-top: 20px;
}

.marginless{
	margin: 0px;
	margin-top: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
	margin-right: 0px;
}

.image-button {
	color: #fff;
	display: block;
	cursor: pointer;
	margin: 10px auto;
	outline: none;
	font-size: 20px;
	font-weight: bold;
	background-image: url(./images/testbutton.png);
	background-size: 100% 200%;
	background-position-y: center;
	text-decoration: none;
	text-shadow: 1px 1px black;
	border: none;
}

.glow-button a, .image-button a{
	display: flex;
    justify-content: center;
    align-items: center;
	width:100%;
	height:100%;
	color: inherit;
	text-decoration: none;
}
	
.glow-button {
	color: #fff;
	display: block;
	margin: 5px auto;
	padding: 5px;
	font-size: 20px;
	font-weight: bold;
	outline: none;
	background-image: linear-gradient(145deg, #9932CC, #006eff 50%, #00BFFF);
	transition: 
		background-color 0.4s ease, 
		text-shadow 0.4s ease, 
		color 0.4s ease, 
		background-size 0.4s ease, 
		background-position 0.4s ease;
	cursor: pointer;
	position: relative;
	border-radius: 10px;
	border: none;
	text-shadow: 1px 1px black;
	text-decoration: none;
	z-index: 0;
 }

.glow-button::before {
	content: "";
	background: linear-gradient(
		45deg,
		#ff0000,
		#ff7300,
		#fffb00,
		#48ff00,
		#00ffd5,
		#002bff,
		#7a00ff,
		#ff00c8,
		#ff0000
	);
	position: absolute;
	top: -2px;
	left: -2px;
	filter: blur(5px);
	background-size: 400%;
	z-index: -1;
	width: calc(100% + 4px);
	height: calc(100% + 4px);
	opacity: 0;
	animation: glowing-button 20s linear infinite;
	transition: opacity 0.4s ease-in-out;
	border-radius: 10px;
}

.glow-button:hover::before, .glow-button:hover::after {
	opacity: 1;
}

.glow-button::after {
	content: "";
	z-index: -1;
	position: absolute;
	opacity: 0;
	/* background-image: linear-gradient(145deg, #000000, #222222); */
	background-image: url(./images/spatialBG.webp);
	background-size: 100% 200%;
	background-position-y: center;
	transition: opacity 0.4s ease-in-out, background-size 0.3s ease-in-out;
	width: 100%;
	height: 100%;
	left: 0;
	top: 0;
	border-radius: 10px;
}


@keyframes glowing-button {
  0% {
    background-position: 0 0;
  }
  50% {
    background-position: 400% 0;
  }
  100% {
    background-position: 0 0;
  }
}

/* Priority Default */
.display-off {
	display: none;
}

.bottom-button {
	padding-left: 0px !important;
	padding-right: 0px !important;
	display: flex;
	justify-content: center;
	align-items: center;
	margin-top: auto;
}

input:-webkit-autofill {
    background-color: #111 !important;
    color: #00BFFF !important;
}

input:-webkit-autofill:hover, 
input:-webkit-autofill:focus {
    background-color: #111 !important;
    color: #00BFFF !important;
}